{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "java",
          "c",
          "cpp",
          "python",
          "bash",
          "json",
          "sql",
          "yaml",
          "markdown",
          "xml",
          "http",
          "ruby",
          "perl",
          "php",
          "go",
          "swift",
          "kotlin",
          "rust",
          "typescript",
          "jsx",
          "tsx",
          "graphql",
          "scss",
          "less",
          "stylus"
        ],
        "plugins": [
          "line-numbers",
          "show-language",
          "autolinker",
          "copy-to-clipboard",
          "toolbar",
          "line-highlight"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}